<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Web Parsing App</display-name>
  <description>
    Web Parser
  </description>
  <servlet>
    <servlet-name>WebParser</servlet-name>
    <servlet-class>com.valadd.mobile.parse.WebParsingServlet</servlet-class>
    <init-param>
      <param-name>RESOURCE_BASE</param-name>
      <param-value>../../templates</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebParser</servlet-name>
    <url-pattern>/GetWeb</url-pattern>
  </servlet-mapping>
</web-app>